<!DOCTYPE html>
{% load static %}
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">


        {% block titleBlock %}

        {% endblock %}

        <!-- css -->
        <link href="//netdna.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote-lite.css" rel="stylesheet">
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
        <link href="{% static 'font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'css/nivo-lightbox.css' %}" rel="stylesheet" />
        <link href="{% static 'css/nivo-lightbox-theme/default/default.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'css/animations.css' %}" rel="stylesheet" />
        <link href="{% static 'css/style.css' %}" rel="stylesheet">
        <link href="{% static 'color/default.css' %}" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
        <link rel = "icon" href ="{% static 'images/swc.jpg' %}" type = "image/x-icon">

    </head>

    <body id="page-top" data-spy="scroll" data-target=".navbar-custom">

        <div id="page-container">
            <!-- Navigation -->
            <div id="navigation">
                <nav class="navbar navbar-expand-lg bg-light navbar-light" role="navigation">
                            <div class="site-logo">
                                <a href="{% url 'portal:index' %}" class="navbar-brand"><img id="logoiit" src="{% static 'images/iitg.png' %}"/></a>
                            </div>

                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                <ul class="navbar-nav ml-auto">
                                    <li class="nav-item {% if nbar == 'home' %}active{% endif %}"><a class="nav-link" href="{% url 'portal:index' %}">Home</a></li>
                                    <li class="nav-item {% if nbar == 'rules' %}active{% endif %}"><a class="nav-link" href="#">Rules</a></li>
                                    <li class="nav-item {% if nbar == 'candidates' %}active{% endif %}"><a class="nav-link" href="{% url 'portal:candidates' %}">Candidates</a></li>
                                    <li class="nav-item {% if nbar == 'stats' %}active{% endif %}"><a class="nav-link" class="nav-link" href="{% url 'stats:chart' %}">Statistics</a></li>
                                    <li class="nav-item"><a class="nav-link" href="{% if request.session.user %}{% url 'authentication:signout' %}{% else %}{% url 'authentication:signin' %}{% endif %}">{% if request.session.user %}Logout{% else %}Login{% endif %}</a></li>
                                </ul>
                            </div>
                </nav>
            </div>
            <!-- /Navigation -->

            <div id="content-wrap">
                {% block bodyBlock %}
                {% endblock %}
            </div>


            <footer id="footer">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-md-6 text-center copyright">
                            &copy;Copyright - SWC. All Rights Reserved.
                        </div>
                    </div>
                </div>
            </footer>
        </div>

        <!-- Core JavaScript Files -->

        <script src="{% static 'js/jquery.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <script src="{% static 'js/jquery.sticky.js' %}"></script>
        <script src="{% static 'js/jquery.easing.min.js' %}"></script>
        <script src="{% static 'js/jquery.scrollTo.js' %}"></script>
        <script src="{% static 'js/jquery.appear.js' %}"></script>
        <script src="{% static 'js/stellar.js' %}"></script>
        <script src="{% static 'js/nivo-lightbox.min.js' %}"></script>
        <script src="{% static 'js/custom.js' %}"></script>
        <script src="{% static 'js/css3-animate-it.js' %}"></script>
        <script src="{% static 'css/contactform/contactform.js' %}"></script>
{#        <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>#}
        <script src="//netdna.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <script src="https://kit.fontawesome.com/3fb32c2b41.js" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote-lite.js"></script>
        {% block scriptBlock %}
        {% endblock %}
        <script>
        $(document).ready(function () {
        {% block jqueryBlock %}
        {% endblock %}
        function updateVoteCount(span, upvotes, downvotes, upvoteColor, downvoteColor) {
        console.log(span.children());
        span.children().children().attr("data-upvote", upvotes);
        span.children().children().attr("data-downvote", downvotes);
        span.children(".text-vote").text(upvotes-downvotes);
        span.children("span:nth-child(1)").children().children().css("color", upvoteColor);
        span.children("span:nth-child(3)").children().children().css("color", downvoteColor);
        console.log(upvoteColor, downvoteColor)
        }

        $("body").on('click', '.btn-upvote', function (e) {
        e.preventDefault();
        const this_ = $(this);
        const upvoteUrl = this_.attr("data-href");
        const upvoteCount = parseInt(this_.attr("data-upvote"));
        const downvoteCount = parseInt(this_.attr("data-downvote"));
        $.ajax({
        url: upvoteUrl,
        method: "GET",
        data: {},
        success: function (data) {
        console.log(data);
        const newUpvotes = upvoteCount + data.upvote;
        const newDownvotes = downvoteCount + data.downvote;
        updateVoteCount(this_.parent().parent(), newUpvotes, newDownvotes, data.upvoteColor, data.downvoteColor);
        },
        error: function (error) {
        console.log("error");
        console.log(error);
        }
        });
        });

        $("body").on('click', '.btn-downvote', function (e) {
        const this_ = $(this);
        const downvoteUrl = this_.attr("data-href");
        const upvoteCount = parseInt(this_.attr("data-upvote"));
        const downvoteCount = parseInt(this_.attr("data-downvote"));
        $.ajax({
        url: downvoteUrl,
        method: "GET",
        data: {},
        success: function (data) {
        console.log(data);
        const newUpvotes = upvoteCount + data.upvote;
        const newDownvotes = downvoteCount + data.downvote;
        updateVoteCount(this_.parent().parent(), newUpvotes, newDownvotes, data.upvoteColor, data.downvoteColor);
        },
        error: function (error) {
        console.log("error");
        console.log(error);
        }
        });
        });

        $("#id_position").change(function (e) {
        const url = $("#question-form").attr("data-href");
        const position = $(this).val();

        $.ajax({
        url: url,
        data: {
        'position': position
        },
        success: function (data) {
        $("#id_asked_to").html(data);
        }
        });
        });

        $(".btn-approve").click(function (e) {
        e.preventDefault();
        const this_ = $(this);
        const approveUrl = this_.attr("data-href");
        $.ajax({
        url: approveUrl,
        method: "GET",
        data: {},
        success: function (data) {
        this_.text("Approved");
        },
        error: function (error) {
        console.log("error");
        console.log(error);
        alert("Error in approving");
        }
        });
        });

        $(".btn-delete").click(function (e) {
        e.preventDefault();
        const this_ = $(this);
        const deleteUrl = this_.attr("data-href");
        $.ajax({
        url: deleteUrl,
        method: "GET",
        data: {},
        success: function (data) {
        this_.text("Deleted");
        },
        error: function (error) {
        console.log("error");
        console.log(error);
        alert("Error in Deleting");
        }
        });
        });

        $(".btn-sort-recent").click(function (e) {
        e.preventDefault();
        const this_ = $(this);
        const sort_by = "-asked_on";
        const sort_on = this_.attr("data-sort-on");
        const user = this_.attr("data-user");
        $.ajax({
        type: "GET",
        url: "{% url 'portal:api-sort' %}",
        data: {
        'sort_by': sort_by,
        'sort_on': sort_on,
        'junta_pk': user,
        }
        }).done(function (data) {
        this_.parent().parent().children(".container-questions").html(data.html_questions);
        this_.addClass('active');
        this_.parent().children(".btn-sort-upvotes").removeClass('active');
        });
        });

        $(".btn-sort-upvotes").click(function (e) {
        e.preventDefault();
        const this_ = $(this);
        const sort_by = "upvotes";
        const sort_on = this_.attr("data-sort-on");
        const user = this_.attr("data-user");
        $.ajax({
        type: "GET",
        url: "{% url 'portal:api-sort' %}",
        data: {
        'sort_by': sort_by,
        'sort_on': sort_on,
        'junta_pk': user,
        }
        }).done(function (data) {
        this_.parent().parent().children(".container-questions").html(data.html_questions);
        this_.addClass('active');
        this_.parent().children(".btn-sort-recent").removeClass('active');
        });
        });

        $("body").on('click', '.toggle-comment', function (e) {
        e.preventDefault();
        $(this).parent().children(".comments").toggle("1000");
        });
        })
        </script>
    </body>
</html>