<!Doctype html>
<html lang="en">
    <head>
        {% block titleBlock %}
        {% endblock %}
    </head>
    <body>

        <nav class="navbar navbar-static-top navbar-expand-md navbar-dark bg-dark">
            <a class="navbar-brand" href="#">Pre Election Portal</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbar">
                <ul class="navbar-nav ml-auto">
                    {% if is_authenticated %}
                        <li class="nav-item"><a class="nav-link" href="{% url 'portal:logout' %}">Logout</a></li>
                    {% else %}
                        <li class="nav-item"><a class="nav-link" href="{% url 'portal:login' %}">Login</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>

        {% block bodyBlock %}
        {% endblock %}

    </body>
</html>