<!DOCTYPE html>
{% extends 'base.html' %}

{% block titleBlock %}
    <title>Comment</title>
    <link href="//netdna.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
{% endblock %}

{% block bodyBlock %}
    {% if question %}
        <p><strong>{{ question }}</strong></p>
    {% endif %}

    {% if comment_form %}
        <form method="post">
            {% csrf_token %}
            {{ comment_form.as_p }}
            <button type="submit">Submit</button>
        </form>
    {% endif %}
{% endblock %}