<!Doctype html>
{% extends 'base.html' %}

{% block titleBlock %}
    <title>Pre Election Portal</title>
    <link href="//netdna.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
{% endblock %}

{% block bodyBlock %}
    <form class="form-group" action="#" method="post">
        {% csrf_token %}
        {{ question_form.as_p }}
        <input type="submit" name="Ask" value="Ask">
    </form>
{% endblock %}